# Build directories
build/
cmake-build-*/

# 编译产物目录
bin/
lib/
obj/

# 日志目录
log/

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# 编译器和系统相关
*.o
*.a
*.so
*.exe
*.dll
*.dylib

.cache/

todo